<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  
  
    <title>Add Student</title>
  
  <% include /partials/head %>
    
</head>
<body>
    <!-- Left Panel -->
  
  <% include /partials/left %>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
      <% include /partials/header %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Student Information</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Student Records</a></li>
                                    <li class="active">Enter Information</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">


                <div class="row">

                    <div class="col-3"></div>
                   
                    <div class="col-6 col-offset-3">
                        <div class="card">
                            <div class="card-header"><strong>Student Information</strong></div>
                            <div class="card-body card-block">
                              
                              <form method="POST" action="/new-student">
                                
                                <div class="form-group"><label for="Sid" class=" form-control-label">Admission No.</label><input name="s_id" type="text" id="sid" placeholder="Enter Student's Admission No." class="form-control"></div>
                                
                                <div class="form-group"><label for="fname" class=" form-control-label">First Name</label><input name="fname" type="text" id="fname" placeholder="Enter Student's First Name" class="form-control"></div>
                                
                              <div class="form-group"><label for="lname" class=" form-control-label">Last Name</label><input name="lname" type="text" id="lname" placeholder="Enter Student's Last Name" class="form-control"></div>
                                
                                <div class="row form-group">
                                    <div class="col col-md-12"><label for="select" class=" form-control-label">Class</label></div>
                                    <div class="col-12 col-md-12">
                                        <select name="class" id="class-select" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="JS 1">JS 1</option>
                                            <option value="JS 2">JS 2</option>
                                            <option value="JS 3">JS 3</option>
                                            <option value="SS 1">SS 1</option>
                                            <option value="SS 2">SS 2</option>
                                            <option value="SS 3">SS 3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-12"><label for="select" class=" form-control-label">House</label></div>
                                    <div class="col-12 col-md-12">
                                        <select name="house" id="house-select" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="House of Faith (Red)">House of Faith (Red)</option>
                                            <option value="House of Joy (Yellow)">House of Joy (Yellow)</option>
                                            <option value="House of Love (Blue)">House of Love (Hope)</option>
                                            <option value="House of Grace (Purple)">House of Grace (Purple)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-12"><label for="select" class=" form-control-label">Gender</label></div>
                                    <div class="col-12 col-md-12">
                                        <select name="gender" id="gender-select" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="Male">
                                                Male
                                            </option>
                                            <option value="Female">
                                                Female
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label for="Date_of_Birth" class=" form-control-label">D.O.B (DD/MM/YYYY)</label>
                                  <input name="dob" type="text" id="Date_of_Birth" placeholder="Enter Student's Date of Birth" class="form-control"></div>

                                <div class="form-group"><label for="Height" class=" form-control-label">Height(cm)</label>
                                  <input name="height" step="0.01"  type="number" id="Height" placeholder="Enter Student's Height" class="form-control"></div>
                              
                                <div class="form-group"><label for="Weight" class=" form-control-label">Weight(kg)</label>
                                  <input name="weight" step="0.01" type="number" id="Blood_type" placeholder="Enter Student's Blood type" class="form-control"></div>
                               
                              <div class="form-group"><label for="Blood-Group" class=" form-control-label">Blood Group</label>
                                  <input name="bl_grp" type="text" id="b_grp" placeholder="Enter Student's Blood Group" class="form-control"></div>
                                
                              
                              <div class="form-group"><label for="Blood-Type" class=" form-control-label">Genotype</label>
                                  <input name="bl_typ" type="text" id="b_typ" placeholder="Enter Student's Genotype" class="form-control"></div>
                                
                                <div class="form-group"><label for="Allergies" class=" form-control-label">Allergies</label>
                                    
                                    <textarea name="allergy" id="allergy" rows="6" placeholder="Enter Student's Allergies" class="form-control"></textarea>
                                </div>
                                
                                
                                <div class="form-group"><label for="Prior_health_issues" class=" form-control-label">Prior health issues</label>
                                    <textarea name="prior_health" id="prior-h" rows="6" placeholder="Enter Student's Health Issues" class="form-control"></textarea>
                                </div>
                                
                                
                                <div class="form-group"><label for="Prior_med" class=" form-control-label">Prior Medication</label>
                                    <textarea name="prior_med" id="pr-med" rows="6" placeholder="Enter Student's Medication" class="form-control"></textarea>
                                </div>
                                
                                
                                
                                <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>

                                
                              </form>

                                
                            </div>
                        </div>
                    </div>

                    
                    

            </div>


        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

      
    <% include /partials/footer %>


</body>
</html>
