<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  
    <title>Nurse Profile</title>
  
    <% include /partials/head %>
  
</head>
<body>
    <!-- Left Panel -->
  
  <% include /partials/left %>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

      
      <% include /partials/header %>
      
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Nurse Profile</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">My Information</a></li>
                                    <li class="active">View Profile</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">


                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header"><strong>My Information</strong></div>
                            <div class="card-body card-block">

                                <div class="form-group"><label for="Sid" class=" form-control-label">Name</label>
                                    <input disabled="" value="" name="name" type="text" id="name" placeholder="Nurse Name" class="form-control">
                                </div>
                              
                              <div class="form-group"><label  class=" form-control-label">Email</label>
                                    <input disabled="" value="" name="uname" type="text" id="uname" placeholder="Email" class="form-control">
                                </div>
                                
                            </div>
                        </div>
                    </div>


            </div>


        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <% include /partials/footer %>


</body>
</html>
